.btn-outline-light-blue button {
  color: #00bcd4;
  border-color: #00bcd4;
  background-color: transparent;
}

.btn-outline-light-blue button:hover {
  background-color: #00bcd4 !important;
  border-color: #00bcd4 !important;
  color: white;
}

.ui-dialog-titlebar {
  background-color: #00bcd4 !important;
  color: white !important;
}

.ui-dialog-titlebar-close {
  color: white !important;
}

.ui-datepicker-current-day a {
  background-color: #00bcd4 !important;
}

.ui-calendar .ui-datepicker-trigger {
  background-color: #00bcd4 !important;
}
